$primary-blue: #0078e7;
$bottomUserInputHeight: 60px;
$light-blue: #18afdc;
$link-color: #541b8b;
$highlight-green: #008073;
$theme-secondary: rgb(144, 245, 44);
$theme-primary: rgb(44, 104, 245);
$theme-minor: rgb(220, 0, 0);