{% extends 'base.html' %}
{% block head %}
    <title>VQA AI - AnswerBot</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/chat-bot.css">
{% endblock %}
{% block body %}
    <div class="chatContainer" id="chatContainer">
        <div class="chatBox" id="chatBox">
            <div class="sessions" id="sessions"></div>
        </div>
        <footer class="chatFooter">
            <div class="userInputContainer" id="chatInputContainer"></div>
        </footer>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/js/chat-bot.js"></script>
{% endblock %}